iframe.email {
  width: 100%;
  border: 0;
}

.summary {
  font-size: 1rem;
}

.emailDate {
  margin-left: auto;
  color: rgba(0,0,0, .5);
}

.progress {
  margin: auto;
  display: block !important;
}
