.container {
  text-align: center;
}

.FundingPeriodCard {
  display: inline-block;
  margin: auto;
  text-align: left;
}

.FundingPeriodCard + .FundingPeriodCard {
  margin-top: 1.5em;
}

.fundingPeriodFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
  margin: 1.5em 0;
}

.budgetGroupActions {
  padding-top: 0 !important;
  padding-bottom: 1.25em !important;
}

.budgetRow {
  margin: 1.5em 0;
}

.budgetRow .textField + .textField {
  margin-left: 1em !important;
}
