.tripInformation {
  padding-bottom: 1em;
  max-width: 45em;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;

  h1 {
    font-weight: lighter;
    margin: 0.5em 2rem;
  }
  h2 {
    font-weight: lighter;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  dl {
    padding: 0 2em;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 2em;
  }
  dt {
    display: inline;
  }
  dd {
    display: inline;
    margin: 0;
    color: rgba(0,0,0, .7);
  }
}
