.container {
  text-align: center;
}

.budgetGroup {
  display: inline-block;
  margin: auto;
  text-align: left;
}

.budgetGroup + .budgetGroup {
  margin-top: 1.5em;
}

.budgetGroupActions {
  padding-top: 0 !important;
  padding-bottom: 1.25em !important;
}

.budgetRow {
  margin: 1.5em 0;
}

.budgetRow .textField + .textField {
  margin-left: 1em !important;
}
