.container {
    text-align: center;
    padding: 5em 1em 3em;

    a {
        color: rgba(0,0,0, 0.75);
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: black;
        }
    }

    img {
        display: block;
        margin: 2em auto;
    }
}
