.toolbarActions {
  margin-left: auto;
  display: flex;
}

.tableCell {
  padding-right: 24px !important;
}

.searchField {
  min-width: 15em !important;
}

.filterPane {
  padding: 1em !important;
  min-width: 15em;

  & > * {
    display: flex !important;
    margin: 1.5em 0 !important;
  }
}

.progressRow {
  height: auto !important;

  th, td {
    padding: 0 !important;
    margin: 0 !important;
  }
}
