.toolbarActions {
  margin-left: auto;
  display: flex;
}

.tableCell {
  padding-right: 24px !important;
}

.searchField {
  min-width: 15em !important;
}

.filterPane {
  padding: 1em !important;
}
